/* GENERAL */

body {

    font-family: 'Montserrat', sans-serif;
    background-color: #f2f5f7;

}


h1 {

    color: #0099CC;
    text-align: center;


}




/* MAIN CONTAINERS */

.main-flex {


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}


.header-flex {

    display: flex;
    justify-content: center;
    align-content: center;

}


.section-flex {


    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


}

/* CARD 1 CONTAINER */

.card-1-flex {


    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: orange;
    margin: 30px;

}


.screenshot {

    flex-basis: 45%;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;

}


.project-name {

    width: 270px;
    height: 35px;
    margin: auto auto 20px auto;
    background-color: white;
    padding: 5px;
    font-weight: 600;


}

ul {

    line-height: 1.7;

}


.project-desc {

    flex-basis: 40%;
    background-color: white;



}


.project-btns {

    flex-basis: 15%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.button-1 {

    flex-basis: 40%;
    height: 35px;
    color: #0099CC;
    background-color: white;
    border: 1px solid #0099CC;
    border-radius: 6px; 
    cursor: pointer;
    font-weight: 600;
    

}


.button-1:hover {
      background-color: #008CBA;
      color: white;
 }



.button-2 {

     flex-basis: 40%;
    height: 35px;
    color: #0099CC;
    background-color: white;
    border: 1px solid #0099CC;
    border-radius: 6px; 
    cursor: pointer;
    font-weight: 600;
}

.button-2:hover {
      background-color: #008CBA;
      color: white;
 }


#screen1 {
    
    background-image: url(images/screen1.PNG);
    background-size: cover;
    
 
}

#screen2 {
    
    background-image: url(images/newtyping.PNG);
    background-size: cover;
    
}

#screen3 {
    
    background-image: url(images/screen3.PNG);
    background-size: cover;
    
}

#screen4 {
    
    background-image: url(images/screen41.PNG);
    background-size: cover;
    
}




/* CARD 2 CONTAINER */

.card-2-flex {


    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    background-color: yellow;
    margin: 30px;

}



.course-logo {

    flex-basis: 15%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
}

.course-name {

    flex-basis: 20%;
    background-color: #F0EDE5;
    padding: 10px;
    font-weight: 600;


}

.course-desc {

    flex-basis: 50%;
    background-color: white;
    padding: 10px;




}

.course-btns {


    flex-basis: 20%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;


}


.udemy {

    width: 35px;
    height: 35px;
}

.rest {

    width: 130px;
    height: auto;


}


.button-course-1 {

    flex-basis: 40%;
    background-color: #DDDDDD;
    height: 25px;
    color: #3b444b;
    background-color: white;
    border: 1px solid #3b444b;
    border-radius: 6px; 
    cursor: pointer;
    font-weight: 600;

}


.button-course-1:hover {
      background-color: #414a4c;
      color: white;
 }



